<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scraping</title>
</head>
<body id="demo">
    <h2>Flipkart Scraping</h2>
    <p>Click for Scraping</p>
    <!-- <button 
        onclick="Scrap" action="http://127.0.0.1:5000/Scrap"
        method="POST">Start Scraping</button> -->
</body>
<body>
    <form action = "/Scrap" method="POST">
        <p><input  type ="submit" value ="Start Scraping"/></p>
    </form>
</body>


</html>